*.zip filter=lfs diff=lfs merge=lfs -text
07-NueralNetworksDeepLearning/CAs/CAs.zip filter=lfs diff=lfs merge=lfs -text
08-DistributedSystems/CA1/CA0_810100084.zip filter=lfs diff=lfs merge=lfs -text
