.box-head {
    text-align: center;
    font-family: "Helvetica";
    font-size: 20px;
}

#wrapper {
    margin: 0 auto;
    margin-top: 200px;  
    display: flex;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    background-color: #ece7e7;
    width: 450px;
    height: 300px;
}

input#username {
    height: 30px;
    font-size: 17px;
}

input#trip-id {
    height: 20px;
    width: 100px;
}

label {
    font-family: "Verdana";
}

#submit {
    cursor: pointer;
    margin-top: 30px;
    width: 90px;
    height: 30px;   
    font-size: 15px;
}